@font-face {
    font-family: 'PlayWrite';
    src: url('../fonts/PlaywriteGBS-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'OceanWide';
    src: url('../fonts/Oceanwide-Semibold.otf') format('opentype');
}

* {
    font-family: 'OceanWide', Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    align-items: center;

    background-color: #2B2D42;
    height: 100px;
}

#header-open-menu-btn {
    display: none;
    color: #fff !important;
    z-index: 101 !important;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 15px;

    background: rgb(46, 113, 182);
    background: linear-gradient(288deg, rgba(46, 113, 182, 1) 0%, rgba(9, 121, 78, 1) 100%);
}

#headericon {
    cursor: pointer;
}

.fa-paper-plane {
    color: #fff !important;
}

.header-right-side, .header-left-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-right-side {
    justify-content: flex-end;
}

.header-left-side {
    justify-content: flex-start;
}

.pagebtn {
    padding: 15px 25px 15px 0px;
    margin: 5px;
    display: inline-block;
    font-size: 25px;
    color: #fff;
    background: transparent;
    border: 1px solid transparent;
    font-family: 'OceanWide', Arial, Helvetica, sans-serif;
    text-align: center;
    cursor: pointer;
    text-decoration: underline;
}

.btn {
    position: relative;
    padding: 15px 25px;
    margin: 5px;
    display: inline-block;
    font-size: 25px;
    color: #fff;
    background: transparent;
    border: 1px solid transparent;
    font-family: 'OceanWide', Arial, Helvetica, sans-serif;
    text-align: center;
    cursor: pointer;
}

.btn::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 35px;
    padding: 2px;
    /* control the border thickness */
    background: linear-gradient(288deg, rgba(46, 113, 182, 1) 0%, rgba(9, 121, 78, 1) 100%);
    mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

/* Last */
@media only screen and (max-width: 850px) {
    header {
        padding: 0 20px;
    }

    .header-right-side {
        display: none;
        position: fixed !important;
        top: 0 !important;
        right: 0 !important;
        height: 100vh !important;
        overflow-y: auto !important;
        background-color: #2B2D42 !important;
        z-index: 100 !important;
        flex-direction: column !important;
        justify-content: flex-start !important;
        align-items: flex-start !important;
        padding: 100px 0 100px 20px !important; /* Height of header */
        width: 300px !important;
    }

    .header-select-semester {
        display: none;
        position: fixed !important;
        right: 65px !important;
        top: 85px !important;
        z-index: 101 !important;
    }

    .pagebtn:first-child {
        margin-top: 50px !important;
    }

    #header-open-menu-btn {
        display: inline-block;
    }
}