/* .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;

    background: rgb(46,113,182);
    background: linear-gradient(288deg, rgba(46,113,182,1) 0%, rgba(9,121,78,1) 100%);
}

.fa-paper-plane {
    color: #fff !important;
}
*/