@font-face {
    font-family: 'PlayWrite';
    src: url('../fonts/PlaywriteGBS-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'OceanWide';
    src: url('../fonts/Oceanwide-Semibold.otf') format('opentype');
}

* {
    font-family: 'OceanWide', Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    align-items: center;

    background-color: #2B2D42;
    height: 100px;
}

#header-open-menu-btn {
    display: none;
    color: #fff !important;
    z-index: 101 !important;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 15px;

    background: rgb(46, 113, 182);
    background: linear-gradient(288deg, rgba(46, 113, 182, 1) 0%, rgba(9, 121, 78, 1) 100%);
}

.fa-paper-plane {
    color: #fff !important;
}

.header-right-side, .header-left-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-right-side {
    justify-content: flex-end;
}

.header-left-side {
    justify-content: flex-start;
}

#account-name {
    text-decoration: underline;
    margin-right: 35px;
}

.header-select-semester {
    position: relative;
    margin-top: 15px;
    margin-right: 35px;
    background-color: transparent;
    color: #fff;
    font-family: 'OceanWide', Arial, Helvetica, sans-serif;
    height: 55px;
    width: 200px;
    border-radius: 25px;
    text-indent: 10px;
    margin-left: 35px;
}

.select-semester-selected {
    background-color: transparent;
    color: white;
    padding: 10px;
    border: 1px solid #494949;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.semester-select-items {
    margin-top: 5px;
    position: absolute;
    background-color: #292929;
    border: 1px solid #494949;
    border-radius: 10px;
    width: 200px;
    z-index: 99;
    display: none;
}

.semester-select-items div {
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
}

.semester-select-items div:hover {
    background-color: #494949;
    color: white;
}

.semester-select-items div:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.semester-select-items div:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.arrow {
    transform-origin: center;
    width: fit-content;
    height: fit-content;
    transform: rotate(90deg);
    margin-top: -12.5px;
}

.pagebtn {
    padding: 15px 25px 15px 0px;
    margin: 5px;
    display: inline-block;
    font-size: 25px;
    color: #fff;
    background: transparent;
    border: 1px solid transparent;
    font-family: 'OceanWide', Arial, Helvetica, sans-serif;
    text-align: center;
    cursor: pointer;
    text-decoration: underline;
}

.btn {
    position: relative;
    padding: 15px 25px;
    margin: 5px;
    display: inline-block;
    font-size: 25px;
    color: #fff;
    background: transparent;
    border: 1px solid transparent;
    font-family: 'OceanWide', Arial, Helvetica, sans-serif;
    text-align: center;
    cursor: pointer;
}

.btn::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 35px;
    padding: 2px;
    /* control the border thickness */
    background: linear-gradient(288deg, rgba(46, 113, 182, 1) 0%, rgba(9, 121, 78, 1) 100%);
    mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.title-hello-wrapper {
    height: 100px;
    background-color: #151625;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.title-account-text {
    display: inline-block;
    font-family: 'OceanWide', Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 35px;
    margin: 0 50px;
    text-align: center;
}

.title-wrapper {
    height: 550px;
    background-color: #151625;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media only screen and (max-width: 820px) {
    .title-wrapper {
        height: 800px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }
}

.notendurchschnitt-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.np_durchschnitt_kreis::part(base) {
    width: 350px;
    height: 350px;
}

.np_durchschnitt_kreis::part(text) {
    color: #fff;
    font-family: 'OceanWide', Arial, Helvetica, sans-serif;
}

.top-grades-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.top-grades-list {
    color: #fff;
    font-family: 'OceanWide', Arial, Helvetica, sans-serif;
    font-size: 30px;
    list-style-type: disc;
}

.top-grades-list-item {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.top-grades-fade-in {
    opacity: 1;
}

.title-wrapper-header-text, .notification-wrapper-header-text {
    color: #fff;
    font-family: 'OceanWide', Arial, Helvetica, sans-serif;
    font-size: 32px;
}

.notification-wrapper {
    background-color: #171a2f;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 750px;
}

.center-notification-wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

@media only screen and (max-width: 820px) {
    .center-notification-wrapper{
        align-items: center;
        flex-direction: column;
    }
}

.notification-wrapper-header-text {
    text-decoration: underline;
}

.notification-wrapper-subheader-text {
    color: #fff;
    font-family: 'OceanWide', Arial, Helvetica, sans-serif;
    font-size: 26px;
}

.next-exam-wrapper, .new-grades-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.next-exams-list, .new-grades-list {
    color: #fff;
    font-family: 'OceanWide', Arial, Helvetica, sans-serif;
    font-size: 18px;
    list-style-type: disc;
    padding-left: 0;
    margin-top: 0;
}

.next-exams-list-item, .new-grades-list-item {
    margin-bottom: 10px;
}

.no-next-exam, .no-new-grade, .no-top-subjects {
    font-style: italic !important;
    color: #5c5c5c !important;
    list-style-type: none;
}

.no-top-subjects {
    text-indent: none;
}

.grades-add-grade-btn {
    color: #fff;
    background-color: #275EFE;
    border: none;
    border-radius: 35px;
    width: min(350px, 60vw);
    height: 50px;
    cursor: pointer;
}

.save-btn {
    color: #fff;
    background-color: #27812e;
    border: none;
    border-radius: 35px;
    width: min(350px, 60vw);
    height: 50px;
    cursor: pointer;
}

.grades-add-grade-btn:disabled, .save-btn:disabled {
    color: #d4ffd6;
    background-color: #6da08c;
    border-radius: 35px;
    width: 350px;
    height: 50px;
    cursor: default;
    opacity: 0.8;
}

.grades-add-wrapper {
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.3);
}

.grades-add {
    background-color: #292929;
    width: max(500px, 20%);
    height: 400px;
    padding: 20px;
    border-radius: 35px;
}

.grades-add-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grades-add-modal-header-text {
    color: #fff;
    font-family: 'OceanWide', Arial, Helvetica, sans-serif;
    font-size: 32px;
    text-align: center;
}

.grades-add-modal-main {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.grades-add-modal-label {
    color: #fff;
    font-family: 'OceanWide', Arial, Helvetica, sans-serif;
    margin-top: 5px;
}

.grades-add-modal-sublabel {
    color: #aaaaaa;
    font-family: 'OceanWide', Arial, Helvetica, sans-serif;
}

.grades-add-modal-input {
    height: 35px;
    background: rgba(255, 255, 255, 0.22);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
    border: 1px solid rgba(255, 255, 255, 0.13);
    margin: 10px 0;
    color: #fff;
    font-family: 'OceanWide', Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-indent: 10px;
    width: 100%;
}

.grades-add-modal-input:focus {
    outline: none;
}

.grades-add-modal-profilfach-wrap, .grades-add-modal-color-wrap, .grades-add-modal-weight-wrap, .grades-add-modal-afb-wrap {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grades-add-modal-weight-wrap, .grades-add-modal-afb-wrap {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.grades-add-modal-weight-value-subwrap {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.grades-add-modal-afb-value-wrap {
    margin: 5px 0;
}

.grades-add-modal-weight-value-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.grades-add-modal-checkbox {
    cursor: pointer;
}

.grades-add-modal-slider {
    color: #275EFE;
}

.grades-add-modal-inputNum {
    width: 100%;
}

.grades-add-modal-btn {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-close-grade-add {
    color: #fff !important;
    cursor: pointer;
    width: 25px;
}

/* Grade add Select */
.add-grade-fach-select {
    position: relative;
    margin-top: 15px;
    background-color: transparent;
    color: #fff;
    font-family: 'OceanWide', Arial, Helvetica, sans-serif;
    height: 55px;
    width: 100%;
    border-radius: 25px;
    text-indent: 10px;
}

.select-add-grade-fach-selected {
    background-color: transparent;
    color: white;
    padding: 10px;
    border: 1px solid #494949;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-grade-fach-select-items {
    margin-top: 5px;
    position: absolute;
    background-color: #292929;
    border: 1px solid #494949;
    border-radius: 10px;
    width: 100%;
    z-index: 99;
    display: none;
}

.add-grade-fach-select-items div {
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
}

.add-grade-fach-select-items div:hover {
    background-color: #494949;
    color: white;
}

.add-grade-fach-select-items div:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.add-grade-fach-select-items div:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.arrow, .arrow-add-grade {
    transform-origin: center;
    width: fit-content;
    height: fit-content;
    transform: rotate(90deg);
    margin-top: -12.5px;
}

/* Last */
@media only screen and (max-width: 850px) {
    header {
        padding: 0 20px;
    }

    .header-right-side {
        display: none;
        position: fixed !important;
        top: 0 !important;
        right: 0 !important;
        height: 100vh !important;
        overflow-y: auto !important;
        background-color: #2B2D42 !important;
        z-index: 100 !important;
        flex-direction: column !important;
        justify-content: flex-start !important;
        align-items: flex-start !important;
        padding: 100px 0 100px 20px !important; /* Height of header */
        width: 300px !important;
    }

    .header-select-semester {
        display: none;
        position: fixed !important;
        right: 65px !important;
        top: 85px !important;
        z-index: 101 !important;
    }

    .pagebtn:first-child {
        margin-top: 50px !important;
    }

    #header-open-menu-btn {
        display: inline-block;
    }
}