@font-face {
    font-family: 'PlayWrite';
    src: url('../fonts/PlaywriteGBS-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'OceanWide';
    src: url('../fonts/Oceanwide-Semibold.otf') format('opentype');
}

* {
    font-family: 'OceanWide', Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    align-items: center;

    background-color: #171a2f;
    height: 100px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 15px;

    background: rgb(46, 113, 182);
    background: linear-gradient(288deg, rgba(46, 113, 182, 1) 0%, rgba(9, 121, 78, 1) 100%);
}

#headericon {
    cursor: pointer;
}

.fa-paper-plane {
    color: #fff !important;
}

.header-right-side, .header-left-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-right-side {
    justify-content: flex-end;
}

.header-left-side {
    justify-content: flex-start;
}

.header-account-text {
    display: inline-block;
    font-family: 'OceanWide', Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 25px;
    margin: 0 50px;
}

#account-name {
    text-decoration: underline;
    margin-right: 35px;
}

.btn {
    position: relative;
    padding: 15px 25px;
    margin: 5px;
    display: inline-block;
    font-size: 25px;
    color: #fff;
    background: transparent;
    border: 1px solid transparent;
    font-family: 'OceanWide', Arial, Helvetica, sans-serif;
    text-align: center;
    cursor: pointer;
}

.btn::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 35px;
    padding: 2px;
    /* control the border thickness */
    background: linear-gradient(288deg, rgba(46, 113, 182, 1) 0%, rgba(9, 121, 78, 1) 100%);
    mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.title-wrapper {
    height: calc(100vh - 100px);
    overflow-y: hidden;
    background-color: #151625;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.settings-wrapper-header-text {
    color: #fff;
    font-family: 'OceanWide', Arial, Helvetica, sans-serif;
    font-size: 32px;
    text-decoration: underline;
    text-align: center;
}

.settings-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

.setting-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.subjects-wrap, .general-wrap {
    display: flex;
    justify-content: center;
    padding: 25px 0;
    flex-direction: column;
}

.subject-wrap-header, .general-wrap-header {
    font-family: 'OceanWide', Arial, Helvetica, sans-serif;
    color: #cacaca;
    font-size: 24px;
    text-align: center;
    padding-bottom: 25px;
}

.subject-item-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #5c5c5c;
    border-radius: 35px;
    padding: 25px;
    width: max(250px, 15vw);
    margin: 5px 0;
}

.subject-item-name {
    font-family: 'OceanWide', Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 16px;
}

.subject-item-management {
    width: 40px;
    display: flex;
    justify-content: space-between;
}

.fa-pen {
    color: #e0a400 !important; 
    cursor: pointer;
}

.fa-trash-can {
    color: #aa0000 !important; 
    cursor: pointer;
}